<form class="example-form" [formGroup]="userForm">
  <div>
      <mat-icon svgIcon="userIcon" aria-label="User icon"></mat-icon>
      <h2>Create account</h2>
  </div>
  <div class="example-container">
    <mat-form-field color="primary">
      <input matInput placeholder="First name" formControlName="firstName" required>
      <mat-error *ngIf="userForm.get('firstName').hasError('required')">First Name is required</mat-error>
      <mat-error *ngIf="userForm.get('firstName').errors">The Name must be between 4 and 20 characters</mat-error>
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field color="primary">
      <input matInput placeholder="Last name" formControlName="lastName" required>
      <mat-error *ngIf="userForm.get('lastName').hasError('required')">Last Name is required</mat-error>
      <mat-error *ngIf="userForm.get('lastName').errors">The Name must be between 4 and 20 characters</mat-error>
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field color="primary">
      <input matInput type="email" placeholder="E-mail" formControlName="email" required>
      <mat-error *ngIf="userForm.get('email').hasError('email') || userForm.get('email').touched">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="userForm.get('email').hasError('required')">Email is required</mat-error>
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field color="primary">
      <input matInput placeholder="Password" type="password" formControlName="password" required>
        <mat-error *ngIf="userForm.get('password') || userForm.get('password').touched">Please enter a valid password</mat-error>
          <mat-error *ngIf="userForm.get('password').hasError('required')">Password is required</mat-error>
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field color="primary">
      <input matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword" required required>
      <mat-error *ngIf="userForm.get('confirmPassword') || userForm.get('confirmPassword').touched">Please enter a valid password</mat-error>
      <mat-error *ngIf="!matchPassword()">Password must match</mat-error>
    </mat-form-field>
  </div><br>
  <div>
    <button class="singup-button" mat-raised-button color="primary"
    [disabled]="!userForm.valid" (click)="registrate()">Sign-Up your account</button><br/><br/>
  </div><br/>
  <div class="link">
    <div class="link-container">
      Already have a account?<a routerLink="/account/logIn">Sign-In</a>
    </div>
  </div>
</form>
