h2 {
  font-family: sans-serif;
  padding-right: 100px;
}

.common-text {
  font-size: small;
  text-align: center;
}

mat-icon {
  padding-left: 40%;
  width: 150px;
  height: 150px;
}

.example-form {
  margin-top: 40px;
  padding-left: 35%;
  padding-right: 35%;
}

a{
  text-decoration: none;
}

p{
  text-align: center;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.signin-button {
  position: absolute;
  right: 35%;
}

.singup-button {
  position: absolute;
  left: 40%;
  width: 20%;
}

.link {
  width: 100%;
  display: block;
}

.link-container {
  display: table;
  float: left;
}

.link-container a {
  float: right;
  padding-left: 20px;
}
