h1 {
  text-align: center;
}

div {
  text-align: left;
}

.dialog-description {
  width: 50%;
  min-height: 100px;
}

.mat-form-field {
  width: 40%;
  text-align: left;
}

.dialog-product-type {
  width: 20%;
  padding-left: 30%;
}

.dialog-list-authors {
  width: 20%;
  padding-left: 30%;
}

.dialog-currency {
  width: 20%;
  padding-left: 30%;
}

.cancel {
  width: 10%;
  float: left;
}

.create {
  display: flex;
  justify-content: right;
}
