<h1 mat-dialog-title> Do you want to delete {{data.nameEntityToDelete}}?</h1>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" class="cencel">Cansel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="delete">Delete</button>
</div>
