.example-form {
  margin-top: 10px;
  padding-left: 40%;
  padding-right: 40%;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

mat-icon {
  padding-left: 40%;
  width: 150px;
  height: 150px;
}

.cancel-button {
  margin-top: 10px;
}

.save-button {
  float: right;
  margin-top: 10px;
}

.input-file {
  margin-left: 25%;
  margin-top: 10px;
}

.user-photo {
  margin-left: 20%;
}

.default-photo {
  margin-left: 20%;
}
