.mat-table {
  width: 96%;
  margin-left: 2%;
}

.mat-header-row {
  width: 100%;
  min-height: 50px;
  border: 1px solid black;
}

.search-string {
  margin-left: 2%;
}

.mat-row {
  width: 100%;
  min-height: 40px;
  border: 1px solid black;
}

.mat-icon {
  padding-left: 10px;
}

.mat-cell {
  font-size: 16px;
  padding-left: 10px;
  display: flex;
  justify-content: left;
}

.mat-header-cell {
  color: black;
  padding-left: 10px;
  background-color: rgb(63, 81, 181);
  font-size: 20px;
  display: flex;
  justify-content: left;
}

mat-paginator {
  margin-left: 2%;
  margin-right: 2%;
  color: black;
  background-color: gray;
}

.add {
  float: right;
  padding-right: 60px;
  width: 50px;
  height: 50px;
}

.pencil {
  position: absolute;
  right: 100px;
}

.delete {
  position: absolute;
  right: 50px;
}

h1 {
  margin-left: 2%;
}
