<h1>Orders Management</h1>
<div [formGroup]="filterForm">
  <mat-form-field class="search-string" color="primary">
    <input matInput placeholder="search" (keyup.enter)="getAllOrders()" formControlName="searchString">
  </mat-form-field>
  <mat-icon class="search" svgIcon="search" aria-label="Delete icon" (click)="getAllOrders()"></mat-icon>
  <mat-table [dataSource]="orders.items" matSort (matSortChange)="setAscendingSort($event.direction, $event.active)">
    <ng-container matColumnDef="order">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="order-header">Order</mat-header-cell>
      <mat-cell *matCellDef="let element"class="order-row">{{element.id}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.paymentDate}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="userName">
        <mat-header-cell mat-header-cell *matHeaderCellDef>User Name</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">{{element.userName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="userEmail">
      <mat-header-cell *matHeaderCellDef >User Email</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.userEmail}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="product">
      <mat-header-cell *matHeaderCellDef >Product</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div>
          <span *ngFor="let type of element.orderItems">{{getProductType(type.productType)}}<br></span>
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div>
          <span *ngFor="let title of element.orderItems">{{title.productTitle}}<br></span>
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef>Qty</mat-header-cell>
      <mat-cell *matCellDef="let element">
          <div>
            <span *ngFor="let element of element.orderItems">{{element.count}}<br></span>
          </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.totalAmount.toFixed(2)}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="orderStatus">
        <mat-header-cell *matHeaderCellDef>Status
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{getStatusType(element.orderStatus)}}</mat-cell>
      </ng-container>
    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
  </mat-table>
    <mat-paginator [length]="totalOrdersCount"
      [pageSize]="filterModel.pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="setPaginationOptions($event)"
      showFirstLastButtons></mat-paginator>
</div>

