<h1>My Orders</h1>
<div [formGroup]="filterForm">
  <mat-table [dataSource]="orders.items">
    <ng-container matColumnDef="order">
      <mat-header-cell *matHeaderCellDef class="order-header">Order</mat-header-cell>
      <mat-cell *matCellDef="let element"class="order-row">{{element.id}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef >Date</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.paymentDate}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="product">
      <mat-header-cell *matHeaderCellDef >Product</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div>
          <span *ngFor="let type of element.orderItems">{{getProductType(type.productType)}}<br></span>
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div>
          <span *ngFor="let title of element.orderItems">{{title.productTitle}}<br></span>
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef>Qty</mat-header-cell>
      <mat-cell *matCellDef="let element">
          <div>
            <span *ngFor="let element of element.orderItems">{{element.count}}<br></span>
          </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.totalAmount.toFixed(2)}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="orderStatus">
        <mat-header-cell *matHeaderCellDef>Status
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{getStatusType(element.orderStatus)}}</mat-cell>
      </ng-container>
    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
  </mat-table>
    <mat-paginator [length]="totalOrdersCount"
      [pageSize]="filterModel.pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="setPaginationOptions($event)"
      showFirstLastButtons></mat-paginator>
</div>
