* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.footer{
  background-color: rgb(172, 167, 167);
  width: 100%;
  display: block;
  box-sizing: border-box;
  height: 30px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  flex: 0 0 auto;
}

.book-icon {
  float: right;
  width: 30px;
  height: 30px;
}
