<h1 mat-dialog-title>Edit profile - {{user.firstName + " " + user.lastName}}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="user.firstName" placeholder="First name">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="user.lastName" placeholder="Last name">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancelButton()" calss="cancel">Cansel</button>
  <button mat-button [mat-dialog-close]="userModel" (click)="saveChanges()" cdkFocusInitial class="save">Save</button>
</div>
