a {
  color: black;
}

mat-grid-list {
  width: 86%;
  margin-left: 11%;
}

.book-icon {
  width: 200px;
  height: 200px;
}

mat-paginator {
  width: 85%;
  color: black;
  background-color: gray;
  margin-top: 20px;
  position: fixed;
  top: 88%;
}

mat-grid-tile-footer {
  display: flex;
  justify-content: left;
}

mat-grid-tile-header {
  display: flex;
  justify-content: center;
}

mat-grid-tile-footer h2 {

  font-size: 25px;
  color: black;
}

mat-grid-tile-header h2 {
  font-size: 25px;
  color: black;
  text-align: left;
}

.search-string {
  position: absolute;
  width: 20%;
  left: 15%;
  top: 20px;
}

.search-icon {
  position: absolute;
  width: 20%;
  left: 26%;
  top: 20px;
}

.filter-price-select {
  position: absolute;
  top: 20px;
  left: 40%;
  width: 10%;
}

.price-title {
  margin-top: 100px;
}

.currency-select {
  position: absolute;
  top: 20px;
  left: 65%;
  width: 10%;
}

.product-type-select {
  top: 10px;
  width: 80%;
  left: 10px;
}

.settings-icon {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 10px;
  bottom: 20px;
}

mat-grid-list {
  margin-top: 100px;
}

mat-grid-list .display-price {
  margin-top: 200px;
}

.min-price {
  position: absolute;
  top: 20%;
  left: 20px;
  width: 100px;
}

.max-price {
  position: absolute;
  top: 20%;
  left: 150px;
  width: 100px;
}

.confirm-filters {
  position: absolute;
  top: 30%;
  left: 20%;
  width: 50%;
}

mat-sidenav {
  min-height: 90%;
  width: 15%;
}

.example-container {
  min-height: 88%;
}
