h1 {
  text-align: center;
}

div {
  text-align: center;
}

.cancel {
  text-align: left;
}

.create {
  position: absolute;
  right: 40%;
}

.mat-form-field-underline {
  background-color: black !important;
}
