<h1 mat-dialog-title>{{authorModel.actionString}} Author</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="authorModel.author.name" placeholder="Name"/>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="canselButton()" class="cencel">Cansel</button>
  <button mat-button [mat-dialog-close]="authorModel.author" (click)="chooseMethod(authorModel.actionString)" cdkFocusInitial class="create">{{authorModel.actionString}}</button>
</div>
