<form class="example-form" [formGroup]="resetForm">
  <div>
    <img alt="User" src="/assets/images/user.png" width="100px" height="100px"/><br/>
    <div *ngIf="" calss="alert-error">
        <strong>There was a problem</strong>
        <p>We are sorry. We weren't able to identify you provided the given information</p>
    </div>
    <h2>Password assistance</h2>
    <p>Enter the email account associated with your account</p><br/>
  </div>
  <div class="example-container">
    <mat-form-field color="primary">
      <input matInput type="email" placeholder="Email" [formControl]="email" required>
      <mat-error *ngIf="email.hasError('email') || email.touched">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="email.hasError('required')">Email is required</mat-error>
    </mat-form-field><br>
  </div>
  <div class="example-container">
    <button class="button" color="primary" type="submit" [disabled]="!email.valid" mat-raised-button
    (click)="resetPassword()">Continue</button>
  </div>
</form>
