.example-form{
  margin-top: 40px;
  padding-left: 35%;
  padding-right: 35%;
}

.example-container {
  display: flex;
  flex-direction: column;
}

img{
  padding-left: 40%;
}

.example-container .button{
  position: absolute;
  left: 45%;
  width: 10%;
}

::ng-deep .mat-form-field-label{
  color:#000 !important;
  width: 50%;
}
::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: black;
}

.alert-error {
  border-style: solid;
  border-width: 1px;
  border-color: red;
  background-color: blue;
}

div strong {
  font-size: 16px;
  color: red;
  padding-left: 30%;
}
