.header{
  width: 100%;
  height: 80px;
  display: block;
  background-color: rgb(204, 204, 204);
  padding-left: 30px;
}

.inner-header{
  height: 80px;
  width: 2000px;
  display: block;
  margin: 0 auto;
}

.logo-container{
  height: 100%;
  display: table;
  float: left;
}
.logo-container h1{
  color: black;
  display: table-cell;
  vertical-align: middle;
}

h1 {
  position: absolute;
  left: 90px;
}

a {
  text-decoration: none;
  color: black;
}

.book-icon {
  position: absolute;
  left: 10px;
  top: 5px;
  width: 70px;
  height: 70px;
}

.cart-icon {
  position: absolute;
  right: 100px;
  top: 5px;
  width: 70px;
  height: 70px;
}

.avatar-icon {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 70px;
  height: 70px;
}

p {
  padding-left: 500px;
}

.log-in {
  font-size: 20px;
  position: absolute;
  right: 200px;
  top: 30px;
}
